div#flux {
	position: relative;
	width: 79%;
	min-width: 458px;
	margin:3px;
	padding: 2px 1px 1px;
}
div#chat {
	float: right;
	width: 20%;
	min-width: 158px;
	background:#FFFFFF url(../images/cadre_fluxmanager.png) no-repeat scroll left top;
	margin:3px;
	padding:0;
}
div.onglet {
	float: left;
	width: 15%;
	background:#FFFFFF url(../images/cadre_fluxmanager.png) no-repeat scroll right top;
	margin:3px;
	padding:0;
	text-align:center;
}
.onglet a {
	color:#FFFFFF;
}
#onglet_chat {
	visibility:hidden;
}
.off a {
	-x-system-font:none;
	background:#506D76 url(../images/nav.png) repeat-x scroll 0 -1px;
	color:#FFFFFF;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	margin:5px;
	padding:9px;
	width:auto;
	display:block;
}
.off a:hover {
	background:#506D76 url(../images/nav.png) repeat-x scroll 0 -50px;
}
div#corps {
	background-color:#FFFFFF;
	margin:54px 8px 0 8px;
	padding:10px;
	
}
#chat #liste_connecte {
	position: relative;
}
#chat #liste_connectes div {
	background:blue none repeat scroll 0 0;
	border:1px solid white;
	color:white;
	font-size:1.3em;
	font-weight:bold;
	margin:auto;
	padding:3px;
	text-align:center;
	width:90%;
}
#chat #liste_connectes div.online {
	background:green none repeat scroll 0 0;
}
#chat #liste_connectes div.offline {
	background:red none repeat scroll 0 0;
}
#chat #liste_connectes div a {
	color:white;
}
#flux #fenetre_chat {
	background:white none repeat scroll 0 0;
	border:1px solid black;
	position:absolute;
	margin: -10px;
	visibility:hidden;
	width:98%;
}
#fenetre_chat #div_messages {
	border:1px solid grey;
	height:400px;
	margin:15px;
	overflow:auto;
	padding:5px;
	width:95%;
}
#fenetre_chat #div_messages ul {
	margin-left: 0px;
	font-size: 1.3em;
	padding-left:0;
	line-height:1;
}
 #fenetre_chat #div_messages ul li {
	margin-bottom:5px;
}
#fenetre_chat #form_chat {
	display: block;
	width:95%;
	margin:auto;
	text-align:center;
	padding:10px;
}
#fenetre_chat #form_chat textarea {
	font-size:1.5em;
	height:80px;
	margin-bottom:15px;
	width:90%;
}
#fenetre_chat #form_chat #text_chat_admin {
	display: block;
	width: 95%;
	margin: auto;
	margin-bottom: 10px;
	font-size: 1.5em;
	padding: 3px;
	
}
div.colonne {
	float: left;
	width: 25%;
}
div.liste_probleme {
	margin-right:90px;
}
div.admin input {
	margin-left: 40px;
	width: 100%;
}
div.virgule {
	margin-right:-57px;
}
iframe {
	overflow-x: hidden;
	overflow-y: auto;
}
table#tableau_log_fut {
	border:1px solid black;
	border-collapse: collapse;
	margin: auto;
	margin-top:10px;
	font-size:1.2em;
}
table#tableau_log_fut td, table#tableau_log_fut th {
	border:1px solid black;
}
select#select_type_prob {
	display:block;
	font-size:1.4em;
	margin:auto;
	margin-top:5px;
}
#reload_page_log {
	float:right; 
	font-size:1.3em
}
select#select_type_stock {
	font-size:1.4em;
	margin:auto;
	margin-top:5px;
}
select#select_type_espace {
	font-size:1.4em;
	margin:auto;
	margin-top:5px;
}
#h_pb_load {
	float:right;
	font-size:1.1em;
}
