* {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
}
form {
	border:1px solid #7f7f7f;
	margin:auto;
	width:90%;
	margin-top:5px;
	margin-bottom:10px;
	padding:3px;
}
form h1 {
	font-size: 0.8em;
	margin:5px;
}
form input, select, label{
	font-size: 0.8em;
	width: 100%;
}
form p{
	font-size: 0.7em;
}
input[type="submit"] {
	display: block;
	margin:auto;
}
input, select {
	background:#F8FAFA none repeat scroll 0 0;
	border:1px solid #ABC6DD;
	margin-bottom:5px;
}
input:hover, input:focus, textarea:hover, select:hover, checkbox:hover {
	background:#E2EBEB none repeat scroll 0 0;
	border:1px solid #4E6972;
}
input[type="text"], input[type="password"] {
	padding:4px;
	width: 100%;
}
input[type="button"], [type="reset"], input[type="submit"] {
	background:transparent url(../images/nav.png) repeat-x scroll left -52px;
	color:#FFFFFF;
	cursor:pointer;
	padding:3px 4px 4px;
}
input[type="button"]:hover, [type="reset"]:hover, input[type="submit"]:hover {
	background:transparent url(../images/nav.png) repeat-x scroll left 0;
	cursor:pointer;
}
input[type="checkbox"] {
	background:#F8FAFA none repeat scroll 0 0;
}
#liste_espace, #liste_stock, #liste_problemes, #liste_utilisateur {
	border:1px solid #7f7f7f;
	margin:auto;
	width:90%;
	padding:5px;
}
#liste_utilisateur table, #liste_problemes table {
	margin:auto;
	width:90%;
	padding:5px;
}
#liste_utilisateur table tr, #liste_problemes table tr {
	font-size:0.8em;
	vertical-align:top;
}
#liste_stock h2, #liste_problemes h2, #liste_espace h2 {
	font-size:0.9em;
	text-decoration:underline;
	margin-top:5px;
}
#liste_stock h3, #liste_problemes h3, #liste_espace h3 {
	font-size:0.8em;
}
#liste_stock p, #liste_problemes p, #liste_espace p {
	font-size:0.8em;
	margin-bottom:5px;
}
a.modif {
	background:transparent url(../images/edit.png) no-repeat scroll center center;
	display:block;
	height: 16px;
	width: 16px;
}
a.suppr {
	background:transparent url(../images/delete.png) no-repeat scroll center center;
	display:block;
	height: 16px;
	width: 16px;
}
