body {
	padding: 5px;
	box-sizing: border-box;
}

.espace, .admin {
	margin-left: -5px;
	margin-right: -5px;
	padding:0;
}

.btn-problem {
	text-align: left;
	margin: 0 0 10px 0;
	display:block;
	width: 100%;
}
.btn-group-problem, .btn-group-problem3 {
	margin: 0 0 10px 0;
	width:100%;
}
.btn-group-problem .btn, .btn-group-problem3 .btn {
	border-radius: 0 !important;
	width:40px;
	float:right;
}
.btn-group-problem > .btn:last-child, .btn-group-problem3 > .btn:last-child {
	text-align: left;
	display:block;
	float:initial;
	width: auto;
	margin-right:40px;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}
.btn-group-problem > .btn:first-child, .btn-group-problem3 > .btn:first-child {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.btn-group-problem3 > .btn:last-child {
	margin-right: 119px;
}

.espace .list-group .list-group-item {
	height: 42px;
	overflow: hidden;
}

.espace .list-group .btn {
	width: 40px;
	height: 42px;
	line-height: 40px;
	padding: 0;
	float: right;
	overflow: hidden;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	clear:both;
}
.espace .list-group .btn:last-of-type {
	background-color:red;
	border-bottom-right-radius: 4px;
}

.espace-btnbar {
	margin-top: -7px;
	margin-right:-10px;
}
.espace-btnbar select {
	width: auto;
	display:inline-block;
}

.espace .panel, .admin .panel
{
	margin-bottom:0;
}

.espace .panel-body, .admin .panel-body, .table-panel-body
{
	height: 300px;
	height: calc(100vh - 60px);
	overflow-y: auto;
	clear:both;
}

.espace .connexionState, .admin .connexionState {
	color: #444;
	font-size:0.8em;
	margin-right:10px;
}

/* ---- Admin ---- */
.admin .logged-in {
	color:#3c763d;
	font-size:3em;
	line-height: 30px;
	float:left;
	margin-right:5px;
	clear:both;
}
.admin .logged-out {
	color:#a94442;
	font-size: 3em;
	float:left;
	margin-right:5px;
	line-height: 25px;
	clear:both;
}

.admin a.list-group-item {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}

.iframe {
	width:100%;
	height:calc(100vh - 60px);
}

/* ---- Chat ---- */
.chat
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat-panel-body {
	height: calc(100vh - 110px) !important;
	margin-bottom:0;
}

.chat li
{
	margin-bottom: 3px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
	margin-left: 60px;
}

.chat li.right .chat-body
{
	margin-right: 60px;
}


.chat li .chat-body span
{
	margin: 0;
	color: #777777;
}
